<div class="admin-title">
    <a href="/vehicles">
        <button type="button" class="btn btn-primary add-vehicle">&larr;Kthehu</button>
    </a>
</div>

<div class="add-vehicle">
    <h2 style="padding-bottom: 1%;">Shto automjet të ri</h2>
    <form action="/vehicles" method="post">
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Modeli</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="colFormLabel" name="model">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Regjistrimi</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="colFormLabel" name="licensePlates">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Viti i prodhimit</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="colFormLabel" name="yearOfProduction">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Kilometrat</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="colFormLabel" name="kilometres">
            </div>
        </div>
        <button type="submit" class="btn btn-success add-vehicle">Shto</button>
</div>
</form>
</div>