    <!-- <a href="/" class="header__logo">Admin Panel</a> -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
            <%if (!locals.session.loggedin) { %>
                <li><a href="/">Sign in</a></li>
                <li><a href="/">Sign Up</a></li>
                <% }else{ %>
                        <form action="/users/logout?_method=GET" class="d-flex">
                            <button class="btn btn-outline-success" type="submit">Log out</button>
                        </form>
                    <%}%>
        </div>
      </nav>
    <!-- <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <%if (!locals.session.loggedin) { %>
                <li><a href="/">Sign in</a></li>
                <li><a href="/">Sign Up</a></li>
                <% }else{ %>
                    <div class="header_button">
                        <form action="/users/logout?_method=GET">
                            <button type="submit" class="logout">Log out</button>
                        </form>
                    </div>
                    <%}%>
        </ul>
    </nav> -->