<nav class="navbar navbar-expand navbar bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">vMaintenance</a>
                </li>
                <%if (locals.session.loggedin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/vehicles">Automjetet</a>
                </li>
                <%}%>
            </ul>

            <div class="d-flex align-items-center">
                <%if (!locals.session.loggedin) { %>
                    <button type="button" class="btn btn-link px-3 me-2">
                        Login
                    </button>
                    <% }else{ %>
                        <form action="/users/logout?_method=GET" class="d-flex">
                            <button type="submit" class="btn btn-dark me-3">
                                Log out
                            </button>
                        </form>
                        <%}%>

            </div>
        </div>
    </div>
</nav>