header{
    padding-bottom: 1rem;
}

.footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    footer{
        position: relative;
    }
}

.table-responsive {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
.main{
    padding-top: 2rem;
}

.add-vehicle-button{
    text-align: end;
}

.add-vehicle{
    margin-top: 1rem;
    padding: 2%;
}