header{
    padding-bottom: 1rem;
}

.footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .add-button{
        padding-bottom: 2%;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .add-button{
        text-align: end;
    }
}

.main{
    padding-top: 2rem;
}

.admin-title{
    padding-bottom: 1%;
}
/* .add-vehicle{
    margin-top: 1rem;
    padding: 2%;
} */